@model NetVis.Net.Models.Subnet
@{
    ViewBag.Title = "Delete";
}
<div class="Outer">
    <div class="Inner">
        <div class="MainContent">
            <h3>
                Are you sure you want to delete this?</h3>
            <b>Network: </b>@Html.DisplayFor(model => model.Network)<br />
            <b>Netmask: </b>@Html.DisplayFor(model => model.Netmask)<br />
            <b>Gateway: </b>@Html.DisplayFor(model => model.Gateway)<br />
            <b>Description: </b>@Html.DisplayFor(model => model.Description)<br />
            <br />
            @using (Html.BeginForm())
            {
                <p>
                    <input type="submit" value="Delete" />
                </p>
            }
        </div>
        <div class="RightColumn">
            <b>Create New:</b>
            <div class="indent">
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
