@model NetVis.Net.Models.Subnet
@{
    ViewBag.Title = "Subnet: " + Model.Network;
}
<div class="Outer">
    <div class="Inner">
        <div class="MainContent">
            <table>
                <tr>
                    <th>
                        Address
                    </th>
                    <th>
                        Name
                    </th>
                </tr>
                @foreach (NetVis.Net.Models.Ip ip in Model.Ips.OrderBy(i => i.Address, new NetVis.Net.Models.IPComparer()))
                {
                    <tr>
                        <td>@ip.Address
                        </td>
                        <td>@ip.Name
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="RightColumn">
            <b>Site: </b>@Html.DisplayFor(model => model.Site.Name)<br />
            <b>Network: </b>@Html.DisplayFor(model => model.Network)<br />
            <b>Netmask: </b>@Html.DisplayFor(model => model.Netmask)<br />
            <b>Gateway: </b>@Html.DisplayFor(model => model.Gateway)<br />
            <b>Description: </b>@Html.DisplayFor(model => model.Description)<br />
            <br />
            @Html.ActionLink("Add New IP", "Create", "IP")<br /><br />
            @Html.ActionLink("Edit Subnet Details", "Edit", new { id = Model.SubnetId })
        </div>
        <div class="clear">
        </div>
    </div>
</div>
