@model NetVis.Net.Models.Subnet
@{
    ViewBag.Title = "Edit: " + Model.Network;
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="Outer">
    <div class="Inner">
        <div class="MainContent">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.SubnetId)

                <table>
                    <tr>
                        <th>
                            @Html.LabelFor(model => model.SiteId, "Site")
                        </th>
                        <td>
                            @Html.DropDownList("SiteId", String.Empty)
                        </td>
                        @Html.ValidationMessageFor(model => model.SiteId)
                    </tr>
                    <tr>
                        <th>@Html.LabelFor(model => model.Description)
                        </th>
                        <td>@Html.EditorFor(model => model.Description)
                        </td>
                        @Html.ValidationMessageFor(model => model.Description)
                    </tr>
                    <tr>
                        <th>@Html.LabelFor(model => model.Network)
                        </th>
                        <td>@Html.EditorFor(model => model.Network)
                        </td>
                        @Html.ValidationMessageFor(model => model.Network)
                    </tr>
                    <tr>
                        <th>@Html.LabelFor(model => model.Netmask)
                        </th>
                        <td>@Html.EditorFor(model => model.Netmask)
                        </td>
                        @Html.ValidationMessageFor(model => model.Netmask)
                    </tr>
                    <tr>
                        <th>@Html.LabelFor(model => model.Gateway)
                        </th>
                        <td>@Html.EditorFor(model => model.Gateway)
                        </td>
                        @Html.ValidationMessageFor(model => model.Gateway)
                    </tr>
                    <tr>
                        <th>@Html.LabelFor(model => model.Preference)
                        </th>
                        <td>@Html.EditorFor(model => model.Preference)
                        </td>
                        @Html.ValidationMessageFor(model => model.Preference)
                    </tr>
                </table>
                <p>
                    <input type="submit" value="Save" />
                </p>
 
            }
        </div>
        <div class="RightColumn">
            <b>Create New:</b>
            <div class="indent">
                @Html.ActionLink("Subnet", "Create", "Subnet")<br />
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
